<footer class="footer">
    <div class="links">
        <a href="#feedback-modal">
            <b><u>Feedback</u></b>
        </a>
        <a href="https://github.com/abdulrehmangulfaraz/Cover-Crest/issues" target="_blank"
            rel="noopener noreferrer">
            <b><u>Issues</u></b>
        </a>
    </div>
    <div class="icons">
        <a href="https://github.com/abdulrehmangulfaraz/Cover-Crest" target="_blank"
            rel="noopener noreferrer">
            <img src="./images/github-logo-20.svg" alt="Github logo" />
        </a>
        <a href="#info-modal">
            <img src="./images/icons/info.svg" alt="info icon" />
        </a>
    </div>
</footer>