<header class="header">
    <h1>
        <img src="./images/gphg.svg" width="40" height="40" alt="Github logo" /><br />
        Cover-Crest
    </h1>
    <h2>
        A simple but nice header image generator <br /> for your Github profile or project.
    </h2>
    <div class="theme-switcher">
        <button data-theme="colorful" class="theme-btn active" title="Colorful Theme"></button>
        <button data-theme="light" class="theme-btn" title="Light Theme"></button>
        <button data-theme="dark" class="theme-btn" title="Dark Theme"></button>
    </div>
    <p class="github-button-container">
        <a class="github-button" href="https://github.com/abdulrehmangulfaraz/Cover-Crest"
            data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" data-size="large"
            data-show-count="true" aria-label="Star abdulrehmangulfaraz/Cover-Crest on GitHub">
            Star
        </a>
    </p>
</header>