<div id="info-modal" class="modal">
    <div>
        <a href="#" title="Close" class="modal-close">
            <img src="./images/icons/close.svg" width="15" height="15" alt="close icon" />
        </a>
        <div class="modal-title">
            <b>From the Creator's Desk</b>
            <img src="./images/icons/heart-circle.svg" width="24" height="24" alt="heart icon" style="margin-left: 10px; vertical-align: middle;" />
        </div><br />
        <p>
            Hello there, creative soul! I'm Abdulrehman Gulfaraz, and I'm so glad our paths have crossed here. I poured my heart and code into creating Cover-Crest, hoping it might add a little spark of personality to your corner of the digital world.
        </p><br />
        <p>
            In a world of ones and zeros, it’s the little touches of creativity that truly make a space our own. My wish is that this tool doesn't just help you make a header, but that it helps you tell a small part of your story.
        </p><br />
        <p>
            Thank you for using it. It truly means the world to me.
            <br />
            Keep building wonderful things!
        </p>
        <div class="modal-info-text"><br />
            This website is not affiliated, associated, authorized, endorsed by, or in any way officially
            connected with GitHub, or any of its subsidiaries or its affiliates. The official GitHub website can
            be found at
            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                https://github.com
            </a><br /><br />
            The name “GitHub” as well as related names, marks, emblems and images are registered trademarks
            of GitHub.
        </div>
    </div>
</div>